
$pal-main: rgb(255, 149, 11);
$pal-det: rgb(245, 197, 120);
$pal-bg: whitesmoke;
$pal-bg-text: white;
$pal-bg-body: white;
$pal-shad: grey;
$pal-delete: rgb(238, 67, 0);

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.content {
    @extend .center;
    justify-content: flex-start;
    height: 100vh;
    padding: 2%;
}

.row {
    flex-direction: row;
}

.hide {
    display: none;
}